@import url('/css/reset_css.css');

:root {
	--background: rgb(13, 13, 13);
	--matrix: rgba(0, 255, 156, 0.4);
	--accent: rgb(0, 255, 198);
	--text: rgb(234, 234, 234);
}

body {
    font-family: 'Heebo', sans-serif;
	position: relative;
	background: var(--background);
}
#body.lock {
	overflow: hidden;
}
.window_filter {
	position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 1;
}
.window_filter.lock {
	opacity: 1;
	visibility: visible;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
    background: var(--background);
}

.header {
    background-color: var(--background);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	border-bottom: 1px solid var(--accent);
	padding: 5px 0;
}
.container {
    max-width: 992px;
    margin: 0 auto;
	padding: 20px 0;
}
.burg {
	display: none;
}
.nav_menu {
	display: flex;
	justify-content: space-around;
}
.nav_menu a {
	font-weight: 500;
	font-size: 20px;
	color: var(--text);
	text-decoration: none;
	transition: all 0.3s ease;
}
.main {
	background-color: transparent;
}
.main_content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 70px 0;
}
.main_content_title h1 {
	color: var(--text);
	font-weight: 700;
	font-size: 44px;
	line-height: 130%;
}

.main_content_title span {
	color: var(--accent);
}
.main_content_title p {
	color: var(--text);
	font-weight: 400;
	font-size: 16px;
	margin: 40px 0;
	line-height: 130%;
}
.contact_btn {
	color: var(--background);
	text-decoration: none;
	font-weight: 500;
	font-size: 20px;
	padding: 15px 30px 15px 30px;
	background-color: var(--accent);
	border: none;
    border-radius: 30px;
	transition: ease 0.3s all;
	cursor: pointer;
}
.menu_form {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.1);
	opacity: 0;
	visibility: hidden;
	z-index: 5;
	border-radius: 30px;
	background-color: var(--background);
	border: 1px solid var(--accent);
}
.menu_form.window_filter {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}
.dropdown_menu {
    text-align: center;
    padding: 50px;
    position: relative;
}

.dropdown_menu_form:not(:last-child) {
    margin-bottom: 20px;
}

.close_button {
    width: 30px;
    height: 30px;
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

.menu_form.window_filter .close_button {
    opacity: 1;
    visibility: visible;
    top: 15px;
    left: 0;
}

.close_button::before{
    content: "";
    width: 100%;
    height: 3px;
    transform: rotate(45deg);
    position: absolute;
    top: 13px;
    background: var(--accent);
}

.close_button::after{
    content: "";
    width: 100%;
    height: 3px;
    transform: rotate(-45deg);
    position: absolute;
    bottom: 14px;
    background: var(--accent);
}

.dropdown_menu_form_input {
    border:  1px solid var(--accent);
    outline: none;
    border-radius: 15px;
    padding: 15px 30px;
    resize: none;
}

.dropdown_menu_form_input:focus {
    outline: var(--accent) 1.5px solid;
}

.form_btn {
	background-color: var(--accent);
    padding: 15px 50px;
    outline: 0;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 30px;
    font-weight: 500;
    font-size: 20px;
    color: var(--background);
}
.skills {
	background-color: transparent;
}
.skills_content h2 {
	color: var(--text);
	font-weight: 400;
	font-size: 40px;
	line-height: 60px;
	text-align: center;
}
.sub_skills_content ul {
	display: flex;
	justify-content: space-evenly;
	margin: 50px 0;
	transition: ease 0.3s ease;
}

.sub_skills_content img {
	transition: all 0.3s ease;
}
.works {
	background-color: transparent;
}
.works_content {
	margin-bottom: 120px;
}
.works_content h2 {
	color: var(--text);
	font-size: 40px;
	font-weight: 400;
	line-height: 60px;
	text-align: center;
}
.first_work,
.second_work,
.third_work {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: var(--accent) solid 1px;
	padding: 20px 0;
}

.first_work img,
.second_work img,
.third_work img {
	transition: all 0.3s ease;
	cursor: pointer;
}

.first_work_title {
	color: var(--text);
	font-size: 30px;
	font-weight: 700;
}
.first_work_content span {
	color: var(--text);
	font-size: 18px;
	font-weight: 900;
	border-radius: 16px;
	background-color: var(--background);
	padding: 3px 15px 3px 15px;
	margin-right: 25px;
}
.second_work_title {
	color: var(--accent);
	font-size: 20px;
	font-weight: 400;
	margin-top: 20px;
	margin-bottom: 20px;
}
.second_work_content span {
	color: var(--text);
	font-size: 18px;
	font-weight: 900;
	border-radius: 16px;
	background-color: var(--background);
	padding: 3px 15px 3px 15px;
	margin-right: 25px;
}
.third_work_title {
	color: var(--text);
	font-size: 16px;
	font-weight: 400;
	line-height: 130%;
}
.third_work_content span {
	color: var(--text);
	font-size: 18px;
	font-weight: 900;
	border-radius: 16px;
	background-color: var(--background);
	padding: 3px 15px 3px 15px;
	margin-right: 25px;
}
.footer {
	background-color: transparent;
}
.footer_content {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.sub_footer_content a + a {
	margin-left: 35px;
}
.footer_content p {
	color: var(--text);
	font-size: 14px;
	font-weight: 400;
	margin-top: 25px;
	margin-bottom: 50px;
}
.sub_footer_content img {
	transition: all 0.3s ease;
}



.arrow {
	border-radius: 25px;
	margin-bottom: 50px;
	cursor: pointer;
	position: relative;
	width: 45px;
	height: 45px;
	transform: rotate(-90deg);
	border: 1px solid var(--accent);
	padding: 15px;

}
.arrow div {
	position: relative;
	top: 20px;
	width: 40px;
	height: 5px;
	background-color: var(--accent);
	left:0;
	display: block;
}
.arrow div::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 5px;
	top: -6px;
	right: -3px;
	background-color: var(--accent);
	transform: rotate(45deg);
}
.arrow div::before {
	content: '';
	position: absolute;
	width: 20px;
	height: 5px;
	top: 6px;
	right: -3px;
	background-color: var(--accent);
	transform: rotate(-45deg);
}

@media (hover: hover) {
	.nav_menu a:hover {
		color: var(--matrix);
	}
	.contact_btn:hover {
		background-color: var(--matrix);
	}
	.first_work img:hover,
	.second_work img:hover,
	.third_work img:hover {
		transform: scale(1.1);
	}	
	.sub_skills_content img:hover {
		transform: scale(1.2);
	}
	.form_btn:hover {
		background-color: var(--matrix);
	}

	.sub_footer_content img:hover {
		transform: scale(1.2);
	}
}
@media screen and (max-width: 992px) {
	.container {
		max-width: 768px;
		width: 100%;
		margin: 0 auto;
	}
	.burg {
		display: inline-block;
		position: relative;
		width: 30px;
		height: 20px;
		right: -80%;
		z-index: 3;
		background: transparent;
		border: none;
		transition: all 0.3s ease;
		cursor: pointer;
	}
	.burg span {
		position: absolute;
		background-color: var(--accent);
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease;
	}
	.burg::before,
	.burg::after {
		content: '';
		background-color: var(--accent);
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease;
	}
	.burg::before {
		top: 0;
	}
	.burg::after {
		bottom: 0;
	}
	.burg.visible::before{
		transform: rotate(45deg);
		top: 9px;
		background-color: var(--accent);
	}
	.burg.visible::after{
		transform: rotate(-45deg);
		bottom: 9px;
		background: var(--accent);
	}
	.burg.visible span {
		transform: scale(0);
	}
	.navigation {
		position: fixed;
		top: 64px;
		left: -1000%;
		width: 100%;
		height: 50%;
		transition: all 0.3s ease;
		background-color: var(--background);
		padding: 20px 0px 0px 70px ;
		z-index: 12;

	}
	.navigation.visible {
		left: 0;
	}
	.nav_menu {
		display: block;
	}
	.nav_menu li {
		margin-bottom: 50px;
	}
	.main_content {
		flex-direction: column-reverse;
	}
	.main_content_title {
		text-align: center;
	}
	.menu_form {
		top: 20%;
		left: 50%;
		transform: translate(-20%, -10%) scale(0.1);
	}
	.menu_form.window_filter {
		transform: translate(-50%, -15%) scale(1);
	}
	.first_work {
		display: block;
		text-align: center;
	}
	.first_work_content {
		margin-top: 25px;
	}
	.second_work,
	.third_work {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.container {
		max-width: 576px;
		width: 100%;
		margin: 0 auto;
	}
	.nav_menu a {
		font-size: 18px;
	}
	.main_content_title h1 {
		font-size: 38px;
	}
	.main_content_title p {
		font-size: 14px;
	}
	.contact_btn {
		font-size: 18px;
	}
	.menu_form {
		border-radius: 0;
		top: 13%;
		left: 0;
		transform: translate(-20%, -10%) scale(0.1);
	}
	.menu_form.window_filter {
		transform: translate(0, -15%) scale(1);
	}
	.dropdown_menu {
		padding: 0;
	}
	.dropdown_menu > div:first-of-type {
		padding: 75px 0 0 0;
	}
	.skills_content h2 {
		font-size: 38px;
	}
	.sub_skills_content img {
		width: 60px;
	}
	.works_content h2 {
		font-size: 38px;
	}
	.third_work_title {
		font-size: 14px;
		max-width: 325px;
		width: 100%;
		margin: 0 auto;
	}
}